body {
    font-family: "Open Sans", sans-serif;
    color: white;
    background: #3994d6;
    text-align: center;
  }
  /* https://colorhunt.co/palette/65e8923994d6354abf3d289b */
  button {
    margin: 1% 0%;
    border: none;
    background-color: #00e676;
    color: #2c3333;
    font-weight: 900;
    font-size: 1.5em;
    padding: 1% 1.5%;
    box-shadow: 0.4em 0.4em #354abf;
  }
  button:hover {
    color: white;
  }
  button:active {
    background-color: #3ce276;
    transition-duration: 150ms;
    color: white;
    box-shadow: 0.3em 0.3em #3043b0;
    transform: translate(0.1em, 0.1em);
  }
  .footer {
    background: white;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  input {
    margin: 1% 0%;
    border: none;
    padding: 10px 10px;
  }
  input[type="text"]:focus {
    background-color: #eeeeee;
    transition-duration: 300ms;
  }
  .banner {
    margin: 1em 40%;
    padding: 1.3em 1.3em;
    background-color: #3949ab;
    font-weight: bold;
    text-align: center;
  }
  .howto{
    margin: 1em 30%;
  }
  
  /**
   * ==============================================
   * Dot Typing
   * ==============================================
   */
  .loading {
    display: block;
    margin-right: auto;
    margin-left: 45%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 50%;
  }
  .dot-typing {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #00e676;
    color: #00e676;
    box-shadow: 9984px 0 0 0 #00e676, 9999px 0 0 0 #00e676, 10014px 0 0 0 #00e676;
    animation: dotTyping 1.5s infinite linear;
  }
  
  @keyframes dotTyping {
    0% {
      box-shadow: 9984px 0 0 0 #00e676, 9999px 0 0 0 #00e676,
        10014px 0 0 0 #00e676;
    }
    16.667% {
      box-shadow: 9984px -10px 0 0 #00e676, 9999px 0 0 0 #00e676,
        10014px 0 0 0 #00e676;
    }
    33.333% {
      box-shadow: 9984px 0 0 0 #00e676, 9999px 0 0 0 #00e676,
        10014px 0 0 0 #00e676;
    }
    50% {
      box-shadow: 9984px 0 0 0 #00e676, 9999px -10px 0 0 #00e676,
        10014px 0 0 0 #00e676;
    }
    66.667% {
      box-shadow: 9984px 0 0 0 #00e676, 9999px 0 0 0 #00e676,
        10014px 0 0 0 #00e676;
    }
    83.333% {
      box-shadow: 9984px 0 0 0 #00e676, 9999px 0 0 0 #00e676,
        10014px -10px 0 0 #00e676;
    }
    100% {
      box-shadow: 9984px 0 0 0 #00e676, 9999px 0 0 0 #00e676,
        10014px 0 0 0 #00e676;
    }
  }
  